/* Общие */
h1, footer {
    text-align: center;
}
a {
    text-decoration: none !important;
}
body {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 1280px;
}

/* Шапка сайта */
header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 10px;
    width: 1280px;
    height: 590px;
}
header > img {
    margin-top: 20px;
    margin-left: -475px;
    position: absolute;
    z-index: 1;
}
menu {
    background-color: #fff;
    opacity: 0.9;
    height: 90px;
    width: 100%;
    padding: 0;
}
menu a {
    color: #717171;
    display: inline-block;
    font-family: Calibri, sans;
    font-size: 13pt;    
    height: 27px;
    line-height: 27px;
    margin-top: 35px;
    text-align: center;
    text-shadow: 1px 1px 1px #b0b0b0;
    width: 90px;
}
menu a:nth-child(1) {
    margin-left: 435px;
}
menu a:last-child {
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: 18% 50%;
    background-color: #de6d6e;
    border-radius: 3px;
    color: #fff;
    margin-left: 12px;
    padding-left: 18px;
    width: 72px;
}
menu a:hover {
    background-color: #c0392b;
    color: #fff;
}
.circle {
	background: white;
    opacity: 0.55;
    position: absolute;
}
header .circle:nth-child(5) {
    border-radius: 60px;
    height: 120px;
    width: 120px;
    margin-left: 565px;
    margin-top: 155px;
}
header .circle:nth-child(3) {
	border-radius: 48px;
    height: 96px;
    width: 96px;
    margin-left: 625px;
    margin-top: 120px;
}
header .circle:nth-child(4) {
	border-radius: 36px;
    height: 72px;
    width: 72px;
    margin-left: 650px;
    margin-top: 180px;
}
header div:last-child {
    color: #fff;
    height: 95px;
    margin-top: 310px;
    margin-left: 300px;
    text-align: center;
    width: 680px;
}
header p:first-child {
    font-family: Arial, sans-serif;
    font-size: 52pt;
    font-weight: bold;
}
header p:last-child {
    font-family: Helvetica, sans-serif;
    font-stretch: expanded;
    font-size: 19pt;
    margin-top: -75px;
    margin-left: 30px;
}
header p a {
    color: #fff;
}
header p a:hover {
    color: #fff;
}

/* Основное тело сайта */
main section:first-child {
    color: #404040;
    font-family: Calibri, sans;
    height: 110px;
    margin-left: 230px;
    margin-top: 50px;
    text-align: center;
    padding: 0;
    width: 830px;
}
main section:first-child h1 {    
    font-size: 24pt;
}
main section:first-child p {    
    font-size: 13pt;
}
main section:nth-child(2) {
    font-family: Calibri, sans;
    font-size: 16px;
    height: 184px;
    margin: 85px 0 0 0;
    padding: 0;
    width: 100%;
}
.circle_link {
    border-radius: 92px;
    color: #fff;
    display: inline-block;
    height: 184px;
    margin: 0 40px;
    opacity: 0.9;
    vertical-align: middle;
    width: 184px;
}
.circle_link:hover {
    opacity: 1;
}
.circle_link span {
    display: inline-block;
    margin-top: 125px;
}
.circle_link:nth-child(1) {
    background-color: #3498db;
    background-image: url(../images/tickets.png);
    background-repeat: no-repeat;
    background-position: 50% 40%;
}
.circle_link:nth-child(2) {
    background-color: #2ecc71;
    background-image: url(../images/camera.png);
    background-repeat: no-repeat;
    background-position: 50% 45%;
}
.circle_link:nth-child(3) {
    background-color: #e74c3c;
    background-image: url(../images/beer.png);
    background-repeat: no-repeat;
    background-position: 55% 50%;
}
.circle_link:nth-child(4) {
    background-color: #d35400;
    background-image: url(../images/iPad.png);
    background-repeat: no-repeat;
    background-position: 50% 42%;
}
.circle_link:nth-child(3) span {
    font-size: 14px;
    margin-top: 40px;
    width: 150px;
    justify-content: center;
}

/* Новости */
main section:nth-child(3) {
    margin-top: 80px;
}
.news_feed {
    color: #404040;
    font-family: Calibri, sans;
    margin-top: 30px;
    margin-left: 190px;
    height: 162px;
    text-align: justify;
    width: 960px;
}
.news_feed h2 {
    font-size: 20pt;
    display: inline-block;
    margin-left: 25px;
}
.news_feed img {
    float: left;
    margin-top: 20px;
}
.news_feed p {
    font-size: 12pt;
    margin-left: 225px;
    margin-top: 0;
}

/* Подвал */
footer {
    background-color: #2a2324;
    font-family: Calibri, sans;
    height: 260px;
    margin-top: 75px;
    text-align: left;
}
footer section {
    color: #aeaeae;
    display: inline-block;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    width: 110px;
}
footer section h3 {
    font-size: 18pt;
    margin-top: 20px;
}
footer section:first-child {
    margin-left: 190px;
}
nav {
    margin-top: -10px;;
}
nav a {
    color: #aeaeae;
    display: block;
    margin-top: 2px;
}
nav a:hover {
    color: #d9d3d3;
}
footer div {
    color: #aeaeae;
    display: inline-block;
    height: 105px;
    margin-top: 55px;
    position: absolute;
    width: 350px;
}
footer div a {
    background-color: rgba(174, 174, 174, 0.8);
    border-radius: 28px;
    display: inline-block;
    height: 56px;
    margin-left: 25px;
    width: 56px;
}
footer div a:hover {
    background-color: rgba(174, 174, 174, 1);
}
footer div a:nth-child(1) {    
    background-image: url(../images/facebook.png);
    background-repeat: no-repeat;
    background-position: 49% 50%;
}
footer div a:nth-child(2) {    
    background-image: url(../images/twitter.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
footer div a:nth-child(3) {    
    background-image: url(../images/dribbble.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
footer div a:nth-child(4) {    
    background-image: url(../images/share.png);
    background-repeat: no-repeat;
    background-position: 47% 50%;
}
address {
    font-style: normal;
    margin-top: 20px;
    text-align: center;
}